@magenta: #ab0012;
@white: #ffffff;

@background-blue: #e6f7ff;
@border-blue: #91d5ff;
@text-blue: #1890ff;

@background-green: #f6ffed;
@border-green: #b7eb8f;
@text-green: #57b219;

@background-orange: #fff7e6;
@border-orange: #ffd591;
@text-orange: #e96e48;

@green-blue: #a5dbd6;
