.products-container {
  display: flex;
  flex-wrap: wrap;

  @media @screen-mobile, @screen-tablet {
    justify-content: center;
  }

  width: 100%;

  padding: 25px 30px;

  font-size: 24px;

  .product {
    @media @screen-mobile, @screen-tablet {
      width: 500px;
    }

    @media @screen-desktop, @screen-desktop-xl {
      width: 400px;
    }

    padding: 5px;

    .product-card {
      width: 100%;
      height: 100%;

      border-radius: 4px;
      border: 1px solid @border-blue;
      background-color: @background-blue;

      .ant-card-head-title, .ant-card-meta-description {
        color: @text-blue;
      }
    }
  }
}