.app-container {
  display: flex;

  height: 100%;
  width: 100%;

  .ant-layout {
    display: flex;

    height: 100%;
    width: 100%;

    .content-container {
      height: 100%;
      width: 100%;
    }
  }
}
