.contact-container {
  display: flex;

  min-height: 100%;
  width: 100%;

  padding: 15px;

  font-size: 24px;

  background-color: @green-blue;

  .send-mail-form {
    background-color: @background-blue;
    padding: 15px;

    height: min-content;

    @media @screen-mobile, @screen-tablet {
      width: 100%;
    }

    @media @screen-desktop, @screen-desktop-xl {
      width: 100%;
      max-width: 750px;
    }

    border: 1px solid @background-blue;
    border-radius: 4px;

    .form-title {
      margin-bottom: 15px;

      font-size: 16px;
      font-weight: bold;

      color: black;
    }
  }

  .social-icons-container {
    display: flex;
    position: fixed;
    top: 64px;
    right: 0px;

    width: 110px;

    padding: 15px;

    border-bottom-left-radius: 10px;

    background-color: @white;

    .address {
      display: none;
    }

    &:hover {
      width: 175px;
      flex-direction: column;

      .social-icons-title {
        display: inline;

        font-size: 15px;
      }

      .address {
        display: inline;
      }
    }

    transition: width 0.3s ease-in, height 0.3s ease-in;

    cursor: pointer;

    .facebook-share {
      display: flex;
      align-items: center;

      font-size: 16px;
      color: #3b5999;

      .anticon-facebook {
        margin-right: 5px;

        font-size: 40px;

        color: #3b5999;
      }
    }

    .instagram-share {
      display: flex;
      align-items: center;

      margin-top: 5px;

      font-size: 16px;
      color: #e4405f;

      .anticon-instagram {
        margin-right: 5px;

        font-size: 40px;

        color: #e4405f;
      }
    }
  }
}
