@import 'ui/styles//buttons';
@import 'ui/styles//mixins';
@import 'ui/styles/common-variables';

@import 'components/components';

html, body, #app {
  height: 100%;
  width: 100%;
}

img {
  margin-bottom: 15px;
}

.stretch {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}