.ant-layout-sider {
  flex: 0 0 225px;
  max-width: 225px;
  min-width: 225px;
  width: 225px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.left-menu-container {
  height: 100%;
  width: 100%;

  border: 0;
  overflow: auto;
}